<script>

    async function checkAuthentication() {

        try {
            const response = await fetch('/isAuthenticated');
            const data = await response.json();

            if (!data.authenticated) {
                window.location.href = '/index.html';
            }

        } catch (error) {
            console.error('Error al verificar autenticación:', error);
            window.location.href = '/index.html';
        }

    }

    checkAuthentication();

</script>

<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/styleForms.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="/assets/css/sweetalert.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
        <script src="/assets/js/sweetalert.js" type = "text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" type = "text/javascript"></script>
        <script src="/assets/js/jquery.js" type = "text/javascript"></script>
        <title>Catalogo Productos</title>
    </head>

    <body>
        
        <div class = "window">

            <div class = "catalog">
                <input type = "button" name = "btnCloseProduct" class = "btnCloseProduct" value = "Cerrar" onclick = "window.location.href = '../view/home.html'">
    
                <form id = "frmProvider" method = "POST">
                    <h1 style = "text-align: center; color: black; margin: 20px;">CATALOGO DE PRODUCTOS</h1>
    
                    <div class="form-group">
                        <input type = "text" id = "txtSku" name = "txtSku" placeholder="Sku" required >
                        <button type="button" class="btnSearchProduct" id="btnSearchProduct">Buscar</button>
                    </div>

                    <input type = "text" id = "txtDescript" name = "txtDescript" class = "txtDescript" placeholder="Descripción" disabled required >
    
                    <input type = "text" id = "txtPrice" name = "txtPrice" class = "txtPrice" placeholder="Precio" disabled required >
    
                    <input type = "text" id = "txtCost" name = "txtCost" class = "txtCost" placeholder="Costo" disabled required >
    
                    <input type = "text" id = "txtStock" name = "txtStock" class = "txtStock" placeholder="Existencia" disabled required >
    
                    <button type = "submit" class = "btnSaveProduct" name = "btnSaveProduct" id = "btnSaveProduct" disabled>Grabar</button>
                </form>
    
            </div>

        </div>

    </body>

</html>

<script>
    var newProduct;

    $(function(){

        $('#btnSearchProduct').click(function(e){
            e.preventDefault();
            $('#txtDescript').val('');
            $('#txtPrice').val('');
            $('#txtCost').val('');
            $('#txtStock').val('');

            if($('#txtSku').val() != ''){

                $.post('/searchProduct', {product:$('#txtSku').val(), action:'search'}, function(resp){

                    if(resp != null){
                        $('#txtDescript').val(resp.descript);
                        $('#txtPrice').val(resp.price);
                        $('#txtCost').val(resp.cost);
                        $('#txtStock').val(resp.stock);
                        document.getElementById("btnSaveProduct").disabled = false;
                        document.getElementById("txtDescript").disabled = false;
                        document.getElementById("txtPrice").disabled = false;
                        document.getElementById("txtCost").disabled = false;
                        document.getElementById("txtStock").disabled = false;
                        document.getElementById("btnSearchProduct").disabled = true;
                        document.getElementById("txtSku").disabled = true;
                        newProduct = false;
                    }else{

                        Swal.fire({
                            title: "Producto no encontrado, ¿deseas registrarlo?",
                            showDenyButton: true,
                            icon: 'question',
                            confirmButtonText: "Si",
                            backdrop: false,
                            denyButtonText: `No`
                            }).then((result) => {

                            if (result.isConfirmed) {
                                newProduct = true;
                                document.getElementById("btnSaveProduct").disabled = false;
                                document.getElementById("txtDescript").disabled = false;
                                document.getElementById("txtPrice").disabled = false;
                                document.getElementById("txtCost").disabled = false;
                                document.getElementById("txtStock").disabled = false;
                                document.getElementById("btnSearchProduct").disabled = true;
                                document.getElementById("txtSku").disabled = true;
                            } else if (result.isDenied) {
                                $('#txtSku').val('');
                            }

                        });

                    }

                });

            }else{

                Swal.fire({
                    icon: "error",
                    title: "No dejes el campo de clave vacio",
                    showConfirmButton: false,
                    backdrop: false,
                    timer: 1500
                });

            }

        });

        $('#btnSaveProduct').click(function(e){
            e.preventDefault();

            if($('#txtSku').val() != ''){

                var objProduct = {
                    product:$('#txtSku').val(),
                    descript:$('#txtDescript').val(),
                    price:$('#txtPrice').val(),
                    cost:$('#txtCost').val(),
                    stock:$('#txtStock').val(),
                    newProduct:newProduct
                };

                $.post('/saveProduct', objProduct, function(resp){

                    if(resp.message == 'success'){

                        Swal.fire({
                            icon: "success",
                            title: "Producto grabado correctamente",
                            showConfirmButton: false,
                            backdrop: false,
                            timer: 1500
                        });

                        $('#txtSku').val('');
                        $('#txtDescript').val('');
                        $('#txtPrice').val('');
                        $('#txtCost').val('');
                        $('#txtStock').val('');
                        document.getElementById("btnSaveProduct").disabled = true;
                        document.getElementById("txtDescript").disabled = true;
                        document.getElementById("txtPrice").disabled = true;
                        document.getElementById("txtCost").disabled = true;
                        document.getElementById("txtStock").disabled = true;
                        document.getElementById("btnSearchProduct").disabled = false;
                        document.getElementById("txtSku").disabled = false;

                    }else{

                        Swal.fire({
                            icon: "error",
                            title: "Error al grabar al producto en la base de datos",
                            showConfirmButton: false,
                            backdrop: false,
                            timer: 1500
                        });

                    }

                });

            }

        });

    });

</script>