<script>

    async function checkAuthentication() {

        try {
            const response = await fetch('/isAuthenticated');
            const data = await response.json();

            if (!data.authenticated) {
                window.location.href = '/index.html';
            }

        } catch (error) {
            console.error('Error al verificar autenticación:', error);
            window.location.href = '/index.html';
        }

    }

    checkAuthentication();

</script>

<!DOCTYPE html>

    <html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/styleUser.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <link rel="stylesheet" href="/assets/css/sweetalert.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
        <script src="/assets/js/sweetalert.js" type = "text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" type = "text/javascript"></script>
        <script src="/assets/js/jquery.js" type = "text/javascript"></script>
        <title>Catalogo Usuarios</title>
    </head>

    <body>
        
        <div class = "window">

            <div class = "catalog">
                <input type = "button" name = "btnCloseUser" class = "btnCloseUser" value = "Cerrar" onclick = "window.location.href = '../view/home.html'">
    
                <form id = "frmUser" method = "POST">
                    <h1 style = "text-align: center; color: black; margin: 20px;">CATALOGO DE USUARIOS</h1>
    
                    <div class="form-group">
                        <input type="text" id="txtUser" name="txtUser" placeholder="Usuario" required>
                        <button type="button" class="btnSearchUser" id="btnSearchUser">Buscar</button>
                    </div>
    
                    <input type = "text" id = "txtNameUser" name = "txtNameUser" class = "txtNameUser" placeholder="Nombre" required >
                    <input type = "text" id = "txtAPUser" name = "txtAPUser" class = "txtAPUser" placeholder="Apellido Paterno"required >
                    <input type = "text" id = "txtAMUser" name = "txtAMUser" class = "txtAMUser" placeholder="Apellido Materno"required >
                    <input type = "text" id = "txtPwdUser" name = "txtPwdUser" class = "txtPwdUser" placeholder="Constraseña"required >
                    <button type = "submit" class = "btnSaveUser" name = "btnSaveUser" id = "btnSaveUser" disabled>Grabar</button>
                </form>
    
            </div>

        </div>

    </body>

</html>